<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Indoscan.channelbridge" >



    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />



    <application
        android:icon="@drawable/cb_logo_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <activity
            android:name="com.Indoscan.channelbridge.CBMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.LOGINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.ItineraryList"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.ITINERARYLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.RepAttendance"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.RepAttendance" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.AddCustomerActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.ADDCUSTOMERACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.ExtraCustomerActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.EXTRACUSTOMERACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.CustomerDetailsComments_TabWidget"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.CUSTOMERDETAILSCOMMENTSTABWIDGET" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.RemarksActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.REMARKSACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.CustomerDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.CUSTOMERDETAILSACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.InvoiceGen1Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.INVOICEGEN1ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.InvoiceGen1Alternate"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.INVOICEGEN1ALTERNATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.InvoiceGen2Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.INVOICEGEN2ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.InvoiceGen3Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.INVOICEGEN3ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.ReturnProductNoHistoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.RETURNPRODUCTNOHISTORYACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.CompetitorProductsActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.COMPETITORPRODUCTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.SETTINGSACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.ReturnInvoiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.RETURNINVOICEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.Preferences"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.PREF" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.ProductRepStoreActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.PRODUCTREPSTOREACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.CustomerImageGalleryActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.CUSTOMERIMAGEGALLERYACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.PriceListActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.PRICELISTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.SyncronizePreference"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.SYNCRONIZEPREFERENCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.LastInvoiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.LASTINVOICEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.InvoiceViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.INVOICEVIEWACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.PrintUtility"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.PRINTUTILITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.ReturnProductHistoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.RETURNPRODUCTHISTORYACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.AboutApplication"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.ABOUTAPPLICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.AdministratorPreference"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.ADMINISTRATORPREFERENCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Indoscan.channelbridge.InvoiceHistoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.INVOICEHISTORYACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.Indoscan.channelbridgehelp.VideoListDemoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.Indoscan.channelbridge.VideoListDemo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.Indoscan.channelbridge.AutoSynchronize"
            android:enabled="true"></service>
        <service
            android:name="com.Indoscan.channelbridge.GPSAutoSynchronize"
            android:enabled="true"></service>
        <service android:name="com.Indoscan.channelbridgebs.AutoBackupService"></service>
        <service android:name="com.Indoscan.channelbridgebs.UploadGPSTask"></service>

        <receiver android:name="com.Indoscan.channelbridge.AutoSyncronizeTimer">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.Indoscan.channelbridge.GPSAutoSyncronizeTimer">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.Indoscan.channelbridgebs.AutoBackupBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.Indoscan.channelbridgebs.GPSBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <receiver android:name="com.Indoscan.channelbridge.AutoSynchronizeStarter"></receiver>

        <receiver  android:name="com.Indoscan.channelbridge.GPSAutoSynchronizeStarter"></receiver>

        <activity
            android:name="com.Indoscan.channelbridge.CollectionNote"
            android:label="@string/title_activity_collection_note"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>